.header {
    height: 80px;
    background-color: #7092ff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 60px;
        justify-content: space-between;
        padding: 0 10px;
    }
}
