.worksBlock{
    background-color: #482323;
    height: 100vh;
    flex-wrap: wrap;
}
.worksContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: lightpink;
}

.works{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}